<p>LOG IN</p>
<form #user="ngForm" (ngSubmit)="OnSubmit(user.value)">
    <div class="container-fluid">
<div class="row">
 <div class="col col-md-4"></div>
 <div class="col col-md-4">
    <div class="form-group">
        <p-card>
            <span class="p-float-label" >
                <input id="email" required email #email="ngModel" type="text" name="email" [(ngModel)]="User.email"  pInputText style="width:100%;"> 
                <label for="email">Email</label>
            </span>
            <span *ngIf="email.invalid && email.touched" class="err">Email Field is Invalid<br/></span><br/>
            <span class="p-float-label" style="width: fit-content;">
                <input style="width:200%;" id="password" #password="ngModel" required  minlength=3 type="password" name="password" [(ngModel)]="User.password" pInputText > 
                <label for="password">Password</label>
            </span>
            <span *ngIf="password.invalid && password.touched" class="err">Password Field is Invalid<br/></span><br/>
            <button pButton pRipple type="submit" [disabled]="user.invalid"  label="Submit" class="p-button-raised p-button-text" style="width:100%;"></button>
            
        </p-card>
  
 
    </div>
 </div>
 <div class="col col-md-4"></div>

</div>
</div>
</form>

