<p>HEllo Bro!</p>

<table>
    <tr >
        <td>Tittle</td>
        <td>User ID</td>
    </tr>
    <tr *ngFor="let item of Employee">
        <td>{{item.title}}</td>
        <td>{{item.userId}}</td>
    </tr>
</table>

<div class="container-fluid">
   
        <p-card>
            <div class="row">
        <div class="col col-md-2">
           
        </div>
        <div class="col col-md-8"></div>
        <div class="col col-md-2">
            <button pButton pRipple label="Next" (click)="nextPage()" icon="pi pi-angle-right" iconPos="right" class="p-button-raised p-button-text" style="width:100%;"></button>
        </div>
    </div>
    </p-card>
    
</div>
